In [26]:
""" Python has the following data types built-in by default, in these categories:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType """

' Python has the following data types built-in by default, in these categories:\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\nNone Type:\tNoneType '

# Data Types

In [2]:
x = "Hello World"
type(x)

str

In [3]:
x = 20
type(x)

int

In [4]:
x = 20.5
type(x)

float

In [5]:
x = 1j # Works only with j
type(x)

complex

In [6]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [7]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [8]:
x = range(6)
type(x)

range

In [10]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [11]:
x = frozenset({"apple", "banana", "cherry"})
type(x)

frozenset

In [12]:
x = True
type(x)

bool

In [14]:
x = b"Hello"
type(x)

bytes

In [16]:
x = bytearray(5)
type(x)

bytearray

In [17]:
x = memoryview(bytes(5))
type(x)

memoryview

In [18]:
x = None
type(x)

NoneType

# Setting the Specific Data Type

In [31]:
#Python Casting
#int() - constructs an integer number from:  
         #integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
#float() - constructs a float number from:
         #an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
#str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [28]:
x = str("Hello World")
type(x)

str

In [30]:
x = float(20.5)
type(x)

float

In [20]:
x = tuple(("apple", "banana", "cherry"))
type(x)

tuple

# Strings

In [32]:
# Multiline Strings: You can use three double quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [34]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [38]:
#Looping Through a String
for a in "banana":
  print(a)

b
a
n
a
n
a

In [37]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [39]:
# Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [40]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

## Slicing Strings

In [41]:
b = "Hello, World!"
print(b[2:5])

llo

In [43]:
# Slice From the Start
b = "Hello, World!"    # Get the characters from the start to position 5 (not included)
print(b[:5])

Hello

In [45]:
# Slice To the End
b = "Hello, World!"   # Get the characters from position 2, and all the way to the end:
print(b[2:])

llo, World!

In [48]:
# Negative Indexing
# Get the characters from: "o" in "World!" (position -5) To, but not included: "d" in "World!" (position -2)
b = "Hello, World!" 
print(b[-5:-2])

orl

## Modify Strings

In [49]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [50]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [52]:
# Remove Whitespace (space before and/or after the actual text)
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [53]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [56]:
# Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# Lists

In [5]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [7]:
# Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [13]:
# List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]
list4[1]

34

In [11]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [12]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Tuples

In [17]:
# Cannot be changed
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [18]:
type(thistuple)

tuple

In [19]:
thistuple[2]

'cherry'

In [20]:
thistuple.append(2)   # we cannot change or add

AttributeError: 'tuple' object has no attribute 'append'

# Sets

In [21]:
daily_pints = {1, 2, 3}

In [22]:
type(daily_pints)

set

In [23]:
print(daily_pints)

{1, 2, 3}

In [26]:
daily_pints_log = {1, 2, 31, 2, 3, 4}
print(daily_pints_log)

{1, 2, 3, 4, 31}

In [27]:
friends_daily_pints_log = {1, 3, 5, 7, 3, 21}
print(friends_daily_pints_log)

{1, 3, 5, 21, 7}

In [32]:
print(daily_pints_log | friends_daily_pints_log)    # Union, display all the unique values on both sets

{1, 2, 3, 4, 5, 7, 21, 31}

In [33]:
print(daily_pints_log & friends_daily_pints_log)   # Intersection, display only the common values on both sets

{1, 3}

In [35]:
print(daily_pints_log - friends_daily_pints_log) # complement, display values that not match

{2, 4, 31}

In [37]:
print(daily_pints_log ^ friends_daily_pints_log)

{2, 4, 5, 21, 7, 31}

# Dictionaries

In [50]:
# with key/value pairs

dict_cream = {'name': 'Amisha Shrestha', 'weekly intake': 4, 'favorite ice creams': ['MCC', 'Chocolate']}

In [51]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [52]:
print(dict_cream)

{'name': 'Amisha Shrestha', 'weekly intake': 4, 'favorite ice creams': ['MCC', 'Chocolate']}

In [53]:
dict_cream.values()

dict_values(['Amisha Shrestha', 4, ['MCC', 'Chocolate']])

In [54]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [55]:
dict_cream.items()

dict_items([('name', 'Amisha Shrestha'), ('weekly intake', 4), ('favorite ice creams', ['MCC', 'Chocolate'])])

In [56]:
dict_cream['name']

'Amisha Shrestha'

In [58]:
dict_cream['name'] = 'Christine Freberg'
print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 4, 'favorite ice creams': ['MCC', 'Chocolate']}

In [59]:
dict_cream.update({'name': 'Christine Freberg', 'weekly intake': 4, 'weight': 300})      # we cannot delete key value
print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 4, 'favorite ice creams': ['MCC', 'Chocolate'], 'weight': 300}

In [60]:
del dict_cream['weight']
print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 4, 'favorite ice creams': ['MCC', 'Chocolate']}

# Comparison Operators

In [62]:
10 == 50

False

In [63]:
10 != 50

True

In [64]:
'Vanilla' == 'Chocolate'

False

In [66]:
x = 'Vanilla'
y = 'Chocolate'

x != y

True

In [69]:
10 <= 10

True

In [71]:
500 >= 10

True

# Logical Operators (and, or, not)

In [73]:
(70 > 50) and (50 > 10)

True

In [74]:
(10 > 50) or (50 > 10)

True

In [76]:
('Vanilla' > 'Chocolate') and (50 > 10)

True

In [77]:
not(50 > 10)

False

# Membership Operators (in and not in)

In [80]:
ice_cream = 'I love Chocolate ice cream'

'love' in ice_cream

True

In [86]:
scoops = [1, 2, 3, 4, 5]
wanted_scoops = 8

wanted_scoops in scoops

False

# If - Elif - Else Statements

In [87]:
if 25 > 10:
    print('It worked!')

It worked!

In [91]:
if 25 < 10:
    print('It worked!')
else:
    print('It did not work.....')

It did not work.....

In [92]:
if 25 < 10:
    print('It worked!')
elif 25 < 30:
    print('Elif worked!')
else:
    print('It did not work.....')

Elif worked!

In [94]:
if 25 < 10:
    print('It worked!')
elif 25 > 30:
    print('Elif worked!')
elif 25 < 21:
    print('Elif 2 worked!')
elif 25 < 40:
    print('Elif 3 worked!')
else:
    print('It did not work.....')

Elif 3 worked!

In [95]:
if (25 < 10) or (1 < 3):
    print('It worked!')
elif 25 > 30:
    print('Elif worked!')
elif 25 < 21:
    print('Elif 2 worked!')
elif 25 < 40:
    print('Elif 3 worked!')
else:
    print('It did not work.....')

It worked!

In [98]:
# One line if statement
print ('It worked') if 40 > 30 else print ('It did not work .......')

It worked

In [99]:
# Nested If
if (25 < 10) or (1 < 3):
    print('It worked!')
    if 10 > 5:
        print('This nested if statement worked!')
elif 25 > 30:
    print('Elif worked!')
elif 25 < 21:
    print('Elif 2 worked!')
elif 25 < 40:
    print('Elif 3 worked!')
else:
    print('It did not work.....')

It worked!
This nested if statement worked!

# For Loops

In [100]:
integers = [1, 2, 3, 4, 5]

In [101]:
for number in integers:
    print(number)

1
2
3
4
5

In [103]:
for number in integers:
    print('Yes!')

Yes!
Yes!
Yes!
Yes!
Yes!

In [111]:
integers = [1, 2, 3, 4, 5]
for x in integers:
    print(x * 5)

5
10
15
20
25

In [113]:
ice_cream_dict = {'name': 'Amisha Shrestha', 'weekly intake': 5, 'favorite ice creams': ['MCC','Chocolate']}

In [115]:
for cream in ice_cream_dict.values():
    print(cream)

Amisha Shrestha
5
['MCC', 'Chocolate']

In [121]:
for key, value in ice_cream_dict.items():
    print(key, '->', value)

name -> Amisha Shrestha
weekly intake -> 5
favorite ice creams -> ['MCC', 'Chocolate']

## Nested For Loops

In [122]:
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmallows']

In [123]:
for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmallows
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmallows
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmallows

# While Loops

In [6]:
number = 0

while number < 5:
    print(number)
    number = number + 1

0
1
2
3
4

In [1]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

1
2
4
5
No longer < 5

# Functions

In [7]:
def first_func():
    print('We did it!')

In [8]:
first_func()

We did it!

In [9]:
def number_square(number):
    print(number**2)

In [10]:
number_square(5)

25

In [11]:
def number_square_cust(number, power):
    print(number**power)

In [15]:
number_square_cust(5, 3)

125

In [19]:
args_tuple = (5,6,1,2,8)

def number_args(*number):
    print(number[0]*number[1])

In [21]:
number_args(*args_tuple)

30

In [23]:
def number_square_cust(number, power):
    print(number**power)

In [24]:
number_square_cust(power = 5, number = 3)

243

In [29]:
def number_kwarg(**number):
    print('My number is: ' + number['integer1'] + 'My other number: ' + number['integer2'])

In [30]:
number_kwarg(integer1 = '2309', integer2 = '349')

My number is: 2309My other number: 349

In [31]:
def my_function(fname):
    print(fname + 'Shrestha')

In [32]:
my_function('Amisha')

AmishaShrestha

# Converting Data Types

## Strings & Integers

In [33]:
num_int = 7

type(num_int)

int

In [34]:
num_str = '7'

type(num_str)

str

In [37]:
num_str_conv = int(num_str)

type(num_str_conv)

int

In [39]:
num_sum = num_int + num_str_conv

print(num_sum)

14

In [68]:
long_str = 'I like to party'

set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}

## Lists, Tuples, Sets & Dictionaries

In [49]:
list_type = [1,2,3]

type(list_type)

list

In [50]:
type(tuple(list_type))

tuple

In [51]:
list_type = [1,2,3,4,3,2,2,1,3]

In [52]:
type(set(list_type))

set

In [59]:
dict_person = {'name': 'Amisha', 'age' : '24', 'hair': 'black'}

type(dict_person)

dict

In [60]:
dict_person.items()

dict_items([('name', 'Amisha'), ('age', '24'), ('hair', 'black')])

In [61]:
dict_person.values()

dict_values(['Amisha', '24', 'black'])

In [62]:
dict_person.keys()

dict_keys(['name', 'age', 'hair'])

In [65]:
type(list(dict_person.keys()))

list

In [66]:
type(list(dict_person.values()))

list